<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title><TMPL_VAR name>: Επικοινωνία</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="favicon.png" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="planet.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=greek,latin' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</head>

<body>
<div class="header">
    <TMPL_VAR name>
</div>
<div class="return">
    <a href="/" style="font-size:1em;">&lt;&lt; επιστροφή</a><br />
</div>

<div class="guideline">
<b>Οδηγίες</b><br /><br />

<u>Προσθήκη/Επεξεργασία Blog</u><br />

Αν το blog σου έχει περιεχόμενο αποκλειστικά σε σχέση με Ελεύθερο Λογισμικό, τότε συμπλήρωσε το γενικό feed του blog σου. Διαφορετικά μπορείς να δημιουργήσεις μια κατηγορία ή tag (πχ. planet) και να συμπληρώσεις το σχετικό feed.<br /><br />

Για να προστεθεί το blog σου στο planet άνοιξε ένα <a href="https://github.com/greek-libre-planet/greek-libre-planet/issues" target="_blank">issue</a> στο repository παραθέτοντας το <b>Ονοματεπώνυμο</b> σου, το <b>feed</b> του blog σου (ή του σχετικού tag) και ένα url προς το hackergotchi σου (βλ. παρακάτω).<br /><br />

<u>Hackergotchi</u><br />

Το Hackergotchi είναι ουσιαστικά το avatar κάθε blogger και εμφανίζετε σε κάθε post. Πρέπει να είναι μόνο το κεφάλι (ή κάποιο λογότυπο αν πρόκειται για blog κοινότητας) περίπου μεγέθους 100x100, διάφανου background και ίσως με μια ελαφρά σκιά. Δες τα <a href="/images/avatars/">υπόλοιπα hackergotchis</a>. Αν δεν είσαι εξοικειωμένος με κάποιο πρόγραμμα επεξεργασίας εικόνων, βάλε μια απλή φωτογραφία (σε καλή ανάλυση) και συμπλήρωσε στα σχόλια πως θες να τη φτιάξουμε εμείς!<br />
</div>

</body>
</html>
